# 🐍 Python virtual environments
venv/
env/
Lib/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so
*.dll

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Data files
*.csv
*.zip

# Logs and temporary files
*.log

# IDE/project settings (optional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
